@use '../../abstracts';

.call-to-action-consultation {
  @include abstracts.page-grid(4, var(--gap-xm));
  
  &__phone {
    justify-content: start;
    align-self: flex-start;
    align-items: center;
  }

  &__action-column {
    grid-column: column-1 / column-3;
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--gap-xm);
  }

  &__badge {
    grid-row: 1 / span 2;
    grid-column: column-4 / full-right;
  }

  &__decor-image {
    grid-row: 2;
    grid-column: full-width;
  }

  &__button {
    margin-inline: unset;
    width: auto;
  }

  @include abstracts.mq-from(medium) {
    grid-template-columns: subgrid;

    &__action-column {
      grid-column: column-1 / column-2;
    }

    &__actions {
      justify-content: start;
      flex-direction: row-reverse;
    }

    &__badge {
      grid-column: column-3;
    }

    &__decor-image {
      grid-row: 1 / span 2;
      grid-column: column-2 / column-3;
    }
  }
}