@use '../../abstracts';

.call-to-action-request {
  &__title {
    grid-column: -1 / 1;
  }

  &__description {
    grid-column: column-1;
    margin-bottom: 20px;
  }

  &__decor-image {
    grid-row: 2;
    transform: translateX(4%);
    width: 90%;
  }

  &__badge {
    grid-column: full-width;
    height: auto;
    padding: 20px;
    grid-row: 2;

    &::after {
      display: block;
      content: '';
      width: 90%;
      aspect-ratio: 61 / 28;
    }
  }

  &__phone {
    align-items: center;
  }

  &__badge &__phone, &__badge .phone__note {
    color: var(--neutral-color-0);
  }

  &__action-column {
    display: grid;
    grid-template-columns: subgrid;
    padding-bottom: var(--gap-l);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-input {
    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__form-note {
    margin-bottom: 30px;
  }

  &__variants {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--neutral-color-0);
    color: var(--neutral-color-0);

    em {
      text-transform: uppercase;
      color: transparent;
      word-break: break-word;
      -webkit-text-stroke: 1px var(--neutral-color-0);
    }
  }

  @include abstracts.mq-from(medium) {
    &__decor-image {
      grid-row: 1;
      width: 70%;
      transform: translateX(8%) translateY(20%);
    }

    &__badge {
      grid-row: 1;
      grid-column: column-3;
    }

    &__action-column {
      padding-bottom: 0;
    }

    &__form {
      grid-column: column-1;
    }
  }
}
