@font-face {
	font-family: "Europe";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("/src/assets/fonts/europe-bold.woff2") format("woff2");
}

@font-face {
	font-family: "PF DinDisplay Pro";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("/src/assets/fonts/PFDinDisplayPro-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "PF DinDisplay Pro";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("/src/assets/fonts/PFDinDisplayPro-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "PF DinDisplay Pro";
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url("/src/assets/fonts/PFDinDisplayPro-Light.woff2") format("woff2");
}

@font-face {
	font-family: "PF DinDisplay Pro";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("/src/assets/fonts/PFDinDisplayPro-Medium.woff2") format("woff2");
}