@use '../abstracts';

:root {
  --main-font: "PF DinDisplay Pro", sans-serif;
  --accent-font: europe, sans-serif;
}

body {
  font-family: var(--main-font);

  @include abstracts.set-font-properties(var(--font-fluid-size-s), 1.2, 400, normal);
}

.section {
  &__title {
    @include abstracts.set-font-properties(var(--font-fluid-size-xl), $weight: 700, $line-height: 1.2);
  }
}

.main-button {
  @include abstracts.set-font-properties(var(--font-size-s), $weight: 500, $line-height: 1);
}

.page-header {
  &__navigation-menu {
    @include abstracts.set-font-properties($weight: 700, $line-height: 1);
  }

  &__phone {
    &-note {
      @include abstracts.set-font-properties(var(--font-size-xs), $weight: 400, $line-height: 1);
    }
  }
}

.burger-menu {
  &__phone {
    &-note {
      @include abstracts.set-font-properties(var(--font-size-xs), $weight: 300, $line-height: 1.2);
    }
  }
}

.band-list-item {
  @include abstracts.set-font-properties(var(--font-fluid-size-m), $weight: 500, $line-height: 1.2);
}

.services-section {
  .slide-card__label {
    @include abstracts.set-font-properties(var(--font-size-m), $weight: 700, $line-height: 1.2);
  }
}

.stages-section {
  &__steps-item {
    &::before {
      font-family: var(--accent-font);

      @include abstracts.set-font-properties(var(--font-size-l), $weight: 700, $line-height: 1);
    }
  }

  &__steps-item-label {
    @include abstracts.set-font-properties(var(--font-fluid-size-m), $weight: 500, $line-height: 1.2);
  }
}

.call-to-action-consultation {
  .phone {
    &__text {
      @include abstracts.set-font-properties(var(--font-fluid-size-l), $weight: 700, $line-height: 1.2);
    }

    &__note {
      @include abstracts.set-font-properties(var(--font-fluid-size-s), $weight: 400, $line-height: 1.2);
    }
  }
}

.methods-section {
  &__variants-item-term {
    &::before {
      @include abstracts.set-font-properties(var(--font-size-xl), $weight: 700, $line-height: 1);
    }

    @include abstracts.mq-from(medium) {
      &::before {
        @include abstracts.set-font-properties(var(--font-size-xxl), $weight: 700, $line-height: 1);
      }
    }
  }

  &__variants-item-term-text {
    @include abstracts.set-font-properties(var(--font-fluid-size-m), $weight: 500, $line-height: 1.2);
  }

  &__variants-item-description {
    @include abstracts.set-font-properties(var(--font-size-ms), $weight: 300, $line-height: 1.2);

    @include abstracts.mq-from(medium) {
      @include abstracts.set-font-properties(var(--font-size-ms), $weight: 400, $line-height: 1.2);
    }
  }
}

.cost-section {
  &__note-list {
    @include abstracts.set-font-properties(var(--font-size-ms), $weight: 300, $line-height: 1.3);
  }

  &__add-service-title {
    @include abstracts.set-font-properties(var(--font-size-s), $weight: 500, $line-height: 1.2);
  }

  &__add-service-note {
    @include abstracts.set-font-properties(var(--font-size-ms), $weight: 300, $line-height: 1.2);
  }

  .slide-card__label {
    @include abstracts.set-font-properties(var(--font-size-ms), $weight: 500, $line-height: 1.2);
  }
}
  
.reviews-section {
  .review-card__name {
    @include abstracts.set-font-properties(var(--font-fluid-size-m), $weight: 500, $line-height: 1.2);
  }

  .review-card__text {
    @include abstracts.set-font-properties(var(--font-size-ms), $weight: 300, $line-height: 1.2);
  }

  .review-card__info {
    @include abstracts.set-font-properties(var(--font-size-ms), $weight: 400, $line-height: 1.2);
  }
}

.faq-section {
  .accordion__details-text {
    @include abstracts.set-font-properties(var(--font-fluid-size-s), $weight: 300, $line-height: 1.2);
  }
}

.call-to-action-request {
  &__description {
    @include abstracts.set-font-properties(var(--font-fluid-size-s), $weight: 300, $line-height: 1.2);
  }

  &__form-note {
    @include abstracts.set-font-properties(var(--font-size-xs), $weight: 300, $line-height: 1.2);
  }

  &__variants {
    @include abstracts.set-font-properties(var(--font-fluid-size-s), $weight: 300, $line-height: 1.2);
  }

  &__variants em {
    font-family: var(--accent-font);

    @include abstracts.set-font-properties(var(--font-fluid-size-xl), $weight: 700, $line-height: 1.2);
  }

  &__phone {
    @include abstracts.set-font-properties(var(--font-fluid-size-ml), $weight: 700, $line-height: 1.2);
  }

  .phone__note {
    @include abstracts.set-font-properties(var(--font-fluid-size-s), $weight: 300, $line-height: 1.2);
  }
}

.input-field {
  @include abstracts.set-font-properties(var(--font-size-ms), $weight: 300, $line-height: 1.2);

  &::placeholder {
    @include abstracts.set-font-properties(var(--font-size-ms), $weight: 300, $line-height: 1.2);
  }
}


.tooltip {
  &__text {
    @include abstracts.set-font-properties(var(--font-fluid-size-s), $weight: 400, $line-height: 1.2);
  }
}

.page-footer {
  &__link {
    @include abstracts.set-font-properties(var(--font-size-xs), $weight: 400, $line-height: 1.2);
  }
}