@use '../abstracts';

.advantages-section {
  display: grid;
  grid-template-columns: subgrid;
  
  &__title {
    grid-row: 1;
  }

  &__decor-image {
    grid-row: 3;
    width: 100%;
    max-height: 588px;
    margin-bottom: 25px;
    aspect-ratio: 1;
    justify-self: center;
    background-color: var(--brand-color-secondary);
  }

  &__offer-spec-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xm);
    grid-row: 2;
    transform: translateY(0);
    margin-bottom: 35px;
  }

  &__work-spec-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xm);
    grid-row: 4;
  }

  @include abstracts.mq-from(medium) {
    &__title {
      grid-column: content;
    }

    &__decor-image {
      grid-row: 2;
      grid-column: column-1 / column-2;
      justify-self: right;
      margin-bottom: 0;
      max-width: 588px;
      background-color: var(--brand-color-secondary);
    }

    &__offer-spec-list {
      margin-bottom: 0;
      grid-row: 2;
      grid-column: column-1;
      transform: translateY(20px);
    }

    &__work-spec-list {
      grid-row: 2;
      grid-column: column-3;
    }
  }
}