@use '../abstracts';

.methods-section {
  display: grid;
  grid-template-columns: subgrid;
  overflow-x: hidden;

  &__title {
    grid-row: 1;
  }

  &__inner {
    overflow: hidden;
  }
  
  &__variants-list {
    counter-reset: variant;
    grid-row: 2;
    margin-bottom: 70px;
  }

  &__variants-item-trigger {
    margin-block: 15px;
    align-self: start;

    .svg-icon {
      width: 26px;
      height: 26px;
      padding: 3px;
      color: color-mix(in srgb, var(--brand-color-accent) 50%, transparent);
      border: 1px solid color-mix(in srgb, var(--brand-color-accent) 50%, transparent);
      border-radius: 50%;
      transform: rotate(90deg);
      transition: transform;
      transition-duration: var(--transition-hover);
    }
  }

  &__variants-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 0fr;
    column-gap: var(--gap-l);
    align-content: start;
    padding-block: 10px 40px;
    border-bottom: 2px solid var(--brand-color-secondary);
    counter-increment: variant;
    transition-property: grid-template-rows;
    transition-duration: var(--transition-hover);

    &--open, &--opened {
      grid-template-rows: auto 1fr;
    }

    &--open &-trigger {
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  &__variants-item-description-wrapper {
    grid-column: 2 / -1;
    grid-row: 2;
    overflow: hidden;
  }

  &__variants-item-term {
    display: grid;
    row-gap: 8px;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    &::before {
      align-self: start;
      grid-row: 1;
      display: block;
      content: counter(variant);
      color: transparent;
      -webkit-text-stroke: 1px color-mix(in srgb, var(--brand-color-accent) 50%, transparent);
    }
  }

  &__variants-item-term-text {
    padding-top: 15px;
  }

  &__case {
    display: flex;
    flex-direction: column;
    grid-row: 3;
    width: 70%;
    margin-bottom: 30px;
    background-color: var(--brand-color-secondary) ;
  }

  &__case-trigger-label {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--brand-color-accent);
  }

  &__case-trigger {
    align-self: start;
    background-color: transparent;

    .svg-icon {
      width: 26px;
      height: 26px;
      padding: 3px;
      color: color-mix(in srgb, var(--brand-color-accent) 50%, transparent);
      border: 1px solid color-mix(in srgb, var(--brand-color-accent) 50%, transparent);
      border-radius: 50%;
      transform: rotate(90deg);
      transition: transform;
      transition-duration: var(--transition-hover);
    }
  }

  &__case-title {
    padding: 30px 15px;
  }

  &__case-list {
    border-block: 2px solid var(--brand-color-primary);
    display: none;
  }

  &__case-item {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 0;
    color: var(--neutral-color-45);
    transition-property: grid-template-rows;
    transition-duration: var(--transition-hover);

    &--open, &--opened {
      grid-template-rows: auto 190px;
    }

    &:not(:last-of-type) {
      border-bottom: 2px solid var(--brand-color-primary);
    }

    &:hover {
      color: var(--neutral-color-100);
      background-color: var(--brand-color-accent);
    }
  }

  &__case-item-trigger {
    display: flex;
    gap: var(--gap-m);
    align-items: center;
    padding: 15px;
  }

  &__case-item-icon {
    display: inline-block;
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    padding: 3px;
    transform: rotate(0.5turn);
  }

  &__case-item-image {
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 1 / -1;
  }

  &__case--open {
    width: 100%;
  }

  &__case--open &__case-trigger-label {
    order: 3;
  }

  &__case--open &__case-trigger-label .icon-button__icon svg {
    transform: rotate(-90deg);
  }

  &__case--open &__case-list {
    display: block;
  }

  &__note-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    grid-row: 4;
  }

  &__background-image {
    grid-row: 3 / span 2;
    place-self: end end;
    width: unset;
    max-height: 445px;
    z-index: -1;
    color: var(--brand-color-secondary);
  }

  @include abstracts.mq-to(medium) {
    &__inner {
      grid-template-columns: unset;
      gap: var(--gap-zero);
    }
  }

  @include abstracts.mq-from(medium) {
    grid-template-rows: auto min-content;

    &__title {
      grid-column: content;
    }

    &__variants-list {
      grid-column: column-1;
      grid-row: 2;
      align-self: start;
    }

    &__variants-item {
      position: relative;
      border: unset;
      justify-content: start;
      grid-template-columns: 100% 100%;
      grid-template-rows: unset;
      gap: var(--gap-l);

      transform: translateX(-100%) translateX(calc(-1 * var(--gap-l)));
      transition-property: transform;
      transition-duration: var(--transition-hover);

      &--open, &--opened {
        transform: translateX(0%);
      }
    }

    &__variants-item-term {
      align-content: start;
      grid-template-columns: auto 1fr; 
      grid-template-rows: auto auto; 
      grid-row: 1;
      grid-column: 2;
      column-gap: var(--gap-l);

      &::before {
        grid-column: 1;
        grid-row: 1 / span 2;
      }
    }

    &__variants-item-term-text {
      display: none;
      grid-row: 1;
      grid-column: 2;
    }

    &__variants-item-description-wrapper {
      grid-column: 1;
      grid-row: 1;
      background-color: var(--brand-color-secondary);
    }

    &__variants-item-description {
      padding: 16px 20px;
    }

    &__variants-item-trigger {
      display: none;
      margin: 0;
      place-self: start start;
      text-align: left;
      grid-column: 2;
      grid-row: 2;
    }

    &__variants-item--open &__variants-item-trigger, &__variants-item--opened &__variants-item-trigger {
      display: none;
    }

    &__variants-item--open &__variants-item-term-text, &__variants-item--opened &__variants-item-term-text  {
      display: none;
    }

    &__variants-item--closed &__variants-item-trigger {
      display: block;
    }

    &__variants-item--closed &__variants-item-term-text  {
      display: block;
    }

    &__case {
      width: 100%;
      grid-row: 2 / span 2;
      grid-column: column-2-end / column-3;
      margin-bottom: 0;
    }  

    &__case-title {
      padding: 50px 40px;  
    }

    &__case-item {
      grid-template-rows: unset;
    }

    &__case-item-image {
      display: none;
      grid-row: unset;
      height: 190px;
      background-color: var(--brand-color-secondary);
    }

    &__case-item:hover &__case-item-image {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      width: 190px;
      aspect-ratio: 1;
    }

    &__case-item--open, &__case-item--opened {
      grid-template-rows: unset;
    }

    &__case-list {
      display: block;
    }

    &__case-trigger-label {
      display: none;
    }

    &__background-image {
      grid-column: column-2;
      grid-row: 2 / span 2;
      max-height: unset;
      color: var(--brand-color-secondary);
    }

    &__note-list {
      grid-row: 3;
      grid-column: column-1 / column-2;
      align-self: end;
      width: 75%;
      background-color: var(--brand-color-secondary);
    }

    &__note-item {
      padding: 15px 20px;

      &:not(:last-of-type) {
        border-bottom: 2px solid var(--brand-color-primary);;
      }
    }
  }
}
