@use '../abstracts';

.page-footer {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: var(--brand-color-secondary);

  @include abstracts.mq-from(medium) {
    padding: 60px;
  }
}

.page-content:has(+ .page-footer) .section:last-of-type {
  padding-bottom: 50px;
}
