mixin main-button(label)
  -
    const {href, type, iconOnly, icon, ...props} = attributes;
  if href
    a.link.button.main-button(href = href)&attributes(props)
      span.main-button__label(class = iconOnly ? 'visually-hidden' : null)!= label
      if icon
        +sprite(icon)(class = 'main-button__icon')
  else
    button.button.main-button(type = type || 'button')&attributes(props)
      span.main-button__label(class = iconOnly ? 'visually-hidden' : null)!= label
      if icon
        +sprite(icon)(class = 'main-button__icon')

mixin icon-button(label)
  -
    const {href, type, icon, ...props} = attributes;
    const classList = [];
  if href
    a.link.button.icon-button(href = href)&attributes(props)
      span.icon-button__label(class = 'visually-hidden')!= label
      if icon
        span.icon-button__icon
          +sprite(icon)
  else
    button.button.icon-button(type = type || 'button')&attributes(props)
      span.icon-button__label(class = 'visually-hidden')!= label
      if icon
        span.icon-button__icon
          +sprite(icon)