//- const options = [
//-   {path: '@image/prepared/common/general-1147px.jpg', wDescriptor: 1147},
//-   {path: '@image/prepared/common/general-991px.jpg', wDescriptor: 991},
//- ]

-
  locals.getLazysizesAtts = function getLazysizesAtts(options) {
    return {
      'data-bgset': options.map((value) => `${require(value.path)} ${value.wDescriptor}w`).join(', '),
      'data-sizes': 'auto',
      'class': 'lazyload',
    };
  };