-
  const phoneContent = {
    //- tel: {
    //-   href: 'tel:+79217476765',
    //-   label: '+7&nbsp;(921)&nbsp;747-67-65',
    //-   note: 'Записаться по телефону',
    //- },
    button: 'Оставить заявку',
    closeButton: 'Закрыть меню',
    note: 'Записаться по телефону',
  }

mixin phone()
  p.phone&attributes(attributes)
    //- a.phone__text(href=phoneContent.tel.href)!= phoneContent.tel.label
    a.phone__text(href=config.brand.phone.href)!= config.brand.phone.label
      +sprite('phone')
    //- small.phone__note= phoneContent.tel.note
    small.phone__note= phoneContent.note