@use '../abstracts';

:root {
  background-color: var(--brand-color-primary);
  color: var(--neutral-color-100);
  scroll-behavior: smooth;

  @include abstracts.mq-from(medium) {
    --layout-padding-inline: 30px;
  }
}