-
  const callToActionConsultationContent = {
    title: 'Нужна консультация?',
    button: 'Оставить заявку',
    decorImage: [
      {path: '@image/prepared/common/saw-284px.png', wDescriptor: 284},
      {path: '@image/prepared/common/saw-425px.png', wDescriptor: 425},
      {path: '@image/prepared/common/saw-550px.png', wDescriptor: 550},
      {path: '@image/prepared/common/saw-610px.png', wDescriptor: 610},
    ],
  };

section.section.call-to-action.call-to-action-consultation.page-grid-full-width
  .call-to-action__action-column.call-to-action-consultation__action-column
    h2.section__title.call-to-action__title.call-to-action-consultation__title= callToActionConsultationContent.title
    .call-to-action-consultation__actions
      +phone()(class='call-to-action-consultation__phone')
      +main-button(callToActionConsultationContent.button)(class='call-to-action-consultation__button')
  .call-to-action__badge.call-to-action-consultation__badge
  .call-to-action__decor-image.call-to-action-consultation__decor-image&attributes(locals.getLazysizesAtts(callToActionConsultationContent.decorImage))
