extends ../layout/page-layout

block variables
  -
    const pageScripts = [];
    const pageTitle = 'Главная страница сайта';
    const currentPageSlug = 'home';

block content
  main(class= 'page-content page-grid')
    h1.visually-hidden= pageTitle
    include ../components/hero/hero-anger.pug
    include ../components/services-section.pug
    include ../components/stages-section.pug
    include ../components/advantages-section.pug
    include ../components/call-to-action/call-to-action-consultation.pug
    include ../components/methods-section.pug
    include ../components/cost-section.pug
    include ../components/factors-section.pug
    include ../components/reviews-section.pug
    include ../components/faq-section.pug
    include ../components/call-to-action/call-to-action-request.pug