-
  const advantagesSectionContent = {
    title: `Почему клиенты обращаются в <strong>${config.brand.name}</strong>?`,
    offerSpec: [
      'Составляем официальный договор',
      'Выполняем работу за 6-12 часов',
      'Работаем в выходные и праздничные дни',
      'С нами можно договориться о скидках',
    ],
    workSpec: [
      'Работы <strong>выполняют арбористы</strong> со стажем в промышленном альпинизме',
      'Мы <strong>не применяем</strong> тяжелую технику. Ваш участок, газон и ландшафтный дизайн не пострадают',
      'Сотрудничаем <strong>с физическими и юридическими</strong> лицами',
      'Соблюдаем нормы безопасности',
      'Берем на себя <strong>возможные риски</strong> при работе в ограниченных пространствах',
      'Используем только <strong>профессиональное оборудование</strong>: Petzl, Singing rock, Camp, Stihl, TopMatic.',
    ],
    decorImage: [
      {path: '@image/prepared/common/why-345px.jpg', wDescriptor: 345},
      {path: '@image/prepared/common/why-588px.jpg', wDescriptor: 588},
    ],
  };

section.section.advantages-section(id='advantages')
  h2.section__title.advantages-section__title!= advantagesSectionContent.title
  .advantages-section__decor-image&attributes(locals.getLazysizesAtts(advantagesSectionContent.decorImage))
  ul.advantages-section__offer-spec-list 
    each item in advantagesSectionContent.offerSpec
      li.advantages-section__offer-spec-item.band-list-item.band-list-item--filled!= item
  ul.advantages-section__work-spec-list 
    each item in advantagesSectionContent.workSpec
      li.advantages-section__work-spec-item!= item

