-
  const factorsSectionContent = {
    title: 'Какие факторы осложняют <strong>нашу работу</strong>',
    noteList: [
      'Нет такие задач, с которыми бы не справились наши абордисты.',
      'Наличие помех делает работу более опасной и трудоёмкой, поэтому цена за сложный спил будет выше.',
    ],
    difficultCases: [
      {
        label: 'Наружный газопровод',
        icon: 'briefcase',
      },
      {
        label: 'Пруд или водоём',
        icon: 'codesandbox',
      },
      {
        label: 'Газон, клумба, огород',
        icon: 'cpu',
      },
      {
        label: 'Строения',
        icon: 'droplet',
      },
      {
        label: 'ЛЭП',
        icon: 'film',
      },
      {
        label: 'Ограждения',
        icon: 'package',
      },
    ], 
    decorImage: [
      {path: '@image/prepared/common/difficultes-496px.jpg', wDescriptor: 496},
      {path: '@image/prepared/common/difficultes-991px.jpg', wDescriptor: 991},
    ],
  };

section.section.factors-section.page-grid-full-width
  .section__title.factors-section__title
    h2.factors-section__title-inner!= factorsSectionContent.title
  ul.factors-section__difficult-cases-list 
    each caseItem in factorsSectionContent.difficultCases
      li.factors-section__difficult-cases-item 
        +sprite(caseItem.icon)(class='factors-section__difficult-cases-item-icon')
        span.factors-section__difficult-cases-label= caseItem.label
  .factors-section__decor-image&attributes(locals.getLazysizesAtts(factorsSectionContent.decorImage))
  ul.factors-section__notes-list 
    each note in factorsSectionContent.noteList
      li.factors-section__notes-item= note
