-
  const faqSectionContent = {
    title: 'Вопрос - ответ',
    accordion: [
      {
        summary: 'Сколько по времени занимает ваша работа?',
        details: 'Это напрямую зависит от расположения дерева, его доступности, размеров и сложности. Обычно достаточно от нескольких часов до 1 дня. Если предстоят масштабный спил больших деревьев, то сроки определяются по ситуации.',
      },
      {
        summary: 'Сколько человек в вашей бригаде?',
        details: 'В стандартных условиях работает один альпинист-арборист. В сложных ситуациях участвуют 1-2 подсобника. При больших объемах количество человек в бригаде рассчитывается индивидуально.',
      },
      {
        summary: 'Может ли заказчик не выезжать на объект?',
        details: 'Да, возможно. Такая работа выполняется по предоплате, а от клиента требуются подробные объяснения. После спила мы присылаем фото или видео выполненной работы.',
      },
      {
        summary: 'Как вы работаете без автовышки?',
        details: 'Наши клиенты – владельцы частных домов и приусадебных участков. Мы работаем в условиях ограниченной территории, куда вышкой просто не подобраться. Тяжелая техника может испортить ландшафтный дизайн или другие насаждения. Поэтому работы выполняют профессиональные альпинисты-арбористы с подсобниками. Для большинства ситуаций нам не нужна даже лестница.',
      },
      {
        summary: 'Дерево проросло в стене здания или в крыше, можно его убрать?',
        details: 'Да. Мы выполним работу максимально аккуратно. Сохраним строение и кровлю, не причинив дополнительных разрушений.',
      },
      {
        summary: 'Можно ли безопасно убрать упавшее или сломанное дерево?',
        details: 'Конечно. При выполнении работ мы используем альпинистское снаряжение: оттяжки, завесы. Ствол и ветки постепенно отделяются по частям. Это исключает случайные падения и порчу имущества.',
      },
      {
        summary: 'Как понять, что дерево нужно спиливать?',
        details: `
          Это легко определить по следующим признакам:<br>
          - отслоение коры;<br>
          - трещины в стволе;<br>
          - дупла;<br>
          - внешняя гниль, труха;<br>
          - сухие пожелтевшие листья в вегетативный период;<br>
          - более 50% сухих веток;<br>
          - большое количество плесневых и грибковых очагов;<br>
          - наклон ствола более 20% считается опасным.
        `,
      },
      {
        summary: 'Что входит в стоимость основной работы?',
        details: 'Спил дерева или отдельных веток, целиком или по частям. Распил ствола и толстых веток на чурбаки. Перетаскивание, складирование, вывоз отходов, колка на дрова, фрезеровка пня, дробление веток оплачиваются отдельно.',
      },
      {
        summary: 'Как вы убираете пни?',
        details: 'Мы фрезеруем их на глубину 50 см с применением специальной дробилки. Углубление можно просто засыпать небольшим количеством грунта. Этот метод самый быстрый, не требует подкапывания, порчи газона или соседних насаждений. Корни других растений не страдают. Остатки пня сгниют под грунтом естественным способом.',
      },
    ],
  };

section.section.faq-section
  h2.section__title.faq-section__title= faqSectionContent.title
  +accordion(faqSectionContent.accordion)(class='faq-section__accordion')
