-
  const stagesSectionContent = {
    title: 'Как проходят работы',
    steps: [
      {
        label:'Прием заявки и консультация',
        icon: 'arrow',
        image: [
          {path: '@image/prepared/common/stages_1-300px.jpg', wDescriptor: 300},
        ]
      },
      {
        label:'Выезд специалиста на объект и расчет стоимости',
        icon: 'arrow',
        image: [
          {path: '@image/prepared/common/stages_2-300px.jpg', wDescriptor: 300},
        ]
      },
      {
        label:'Выполнение необходимых работ',
        icon: 'arrow',
        image: [
          {path: '@image/prepared/common/stages_3-300px.jpg', wDescriptor: 300},
        ]
      },
      {
        label:'Оплата только по результату',
        icon: 'check',
        image: [
          {path: '@image/prepared/common/stages_4-300px.jpg', wDescriptor: 300},
        ]
      },
    ],
  };

section.section.stages-section(id='stages')
  h2.section__title= stagesSectionContent.title
  ol.stages-section__steps
    each step in stagesSectionContent.steps
      li.stages-section__steps-item
        p.stages-section__steps-item-label= step.label
        +sprite(step.icon)(class='stages-section__steps-item-icon')
        .stages-section__steps-decor&attributes(locals.getLazysizesAtts(step.image))