$transition-duration: var(--transition-hover);
$icon-color: var(--brand-color-accent);

.accordion {
  &__slot {
    border-bottom: 1px solid var(--brand-color-secondary);
  }

  &__summary {
    padding-block: 20px;
  }

  &__summary-text {
    text-align: left;
  }

  &__details {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows $transition-duration;
  }

  &__details-text {
    padding-left: 30px;
    padding-bottom: 20px;
    color: var(--neutral-color-45);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 21px;
    height: 21px;
    flex-shrink: 0;
    position: relative;
    transform-origin: center;
    color: var(--brand-color-accent);
    transition-property: transform;
    transition-duration: $transition-duration;

    & > svg {
      position: absolute;
      inset: 0;
      margin: auto;
      transition-property: opacity;
      transition-duration: $transition-duration;
    }
  }

  :is(&__slot--open, &__slot--opened) &__details {
    grid-template-rows: 1fr;
  }

  &__details-inner {
    overflow: hidden;
  }

  &__trigger {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    border-style: none;
    color: inherit;
    width: 100%;
    gap: 10px;
  }

  :is(&__slot--open, &__slot--opened) &__icon {
    transform: rotate(-180deg);
  }

  &__slot &__icon > svg:nth-child(1) {
    opacity: 1;
  }

  :is(&__slot--open, &__slot--opened) &__icon > svg:nth-child(1) {
    opacity: 0;
  }

  &__slot &__icon > svg:nth-child(2) {
    opacity: 0;
  }

  :is(&__slot--open, &__slot--opened) &__icon > svg:nth-child(2) {
    opacity: 1;
  }
}
