@use '../../abstracts';

.band-list-item {
  padding: 6px 17px;
  border-left: 2px solid var(--brand-color-accent);

  &--adaptive-border {
    border-left: 2px solid transparent;

    @include abstracts.mq-from(medium) {
      border-left: 2px solid var(--brand-color-accent);
    }
  }

  &--filled {
    background-color: var(--brand-color-primary);
  }
}