.button {
  background-color: transparent;
  cursor: pointer;
}

.main-button {
  padding: 17px 50px;
  margin-inline: auto;
  width: 100%;
  max-width: calc(var(--layout-content-min-width) + var(--layout-padding-inline) * 2);
  border: 2px solid var(--brand-color-accent);
  transition-property: background-color;
  transition-duration: var(--transition-hover);

  &:hover {
    background-color: var(--brand-color-accent);

  }
}

.icon-button {
  transition-property: color;
  transition-duration: var(--transition-hover);

  &:hover {
    color: var(--brand-color-accent);
  }
}