.input-field {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  padding-block: 20px;
  border-bottom: 1px solid var(--neutral-color-45);

  &__input {
    border-style: none;
    background-color: inherit;

    &::placeholder {
      color: var(--neutral-color-45);
    }

    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 14px;
    height: 14px;
  }

  &__label {
    display: none;
  }
}