.phone {
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 5px;

  &__text {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.5em;
  }

  &__note {
    color: var(--neutral-color-45);
    text-align: center;
  }

  .phone-icon {
    height: 1em;
    width: 1em;
  }
}
