.tooltip {
  display: inline-flex;
  position: relative;
  vertical-align: bottom;

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__text {
    $background-color: var(--neutral-color-100);
    $corner-size: 30px;   
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 10;
    display: none;
    padding: 20px;
    width: 340px;
    background-color: $background-color;
    color: var(--neutral-color-0);
    transform: translateY(100%) translateX(-50%) translateY(calc($corner-size / 2));

    &::before {
      position: absolute;
      top: 0;
      inset-inline: 0;
      margin-inline: auto;
      transform: translateY(-100%);
      display: block;
      content: '';
      width: $corner-size;
      height: $corner-size * 2;
      border: calc($corner-size / 2) solid $background-color;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }

  &:hover .tooltip__text {
    display: block;
  }
}