@use 'sass:map';
@use '../../abstracts';

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: map.get(abstracts.$z-index, 'menu');
  display: flex;
  flex-direction: column;
  background-color: var(--brand-color-secondary);
  transform: translateX(calc(100% + 100px));
  transition-property: transform;
  transition-duration: var(--transition-menu);

  &__menu {
    padding: 0 0 40px;
  }

  &__phone {
    padding: 0;
    margin-bottom: 25px;
    flex-direction: column;
    margin-inline: auto;

    &-note {
      margin-bottom: 40px;
      color: var(--neutral-color-45);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    padding-inline: var(--gap-m);
  }

  &__close-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    background-color: transparent;
    transform: translateX(calc(-100% - 15px)) translateY(20px);
  }

  &--open {
    transform: translateX(0);
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    z-index: map.get(abstracts.$z-index, 'menu') - 1;
    backdrop-filter: blur(5px);
  }
}